<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author.name }}">

    <title>{{ site.title }}</title>

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /public/css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/_bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/_bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) /public/js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <!--[if lt IE 9]>
        <script src="{{ site.url }}/public/js/html5shiv.js"></script>
        <script src="{{ site.url }}/public/js/respond.min.js"></script>
    <![endif]-->
</head>
